:root {
   --color-dark-blue: hsl(235, 21%, 11%);
   --color-desaturated-blue: hsl(235, 24%, 19%);
   --color-grayish-blue: hsl(236, 33%, 92%);
   --color-dark-g-blue: hsl(234, 11%, 52%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-size: 2rem;
   font-weight: 600;
}

.top {
   height: 40vh;
   width: 100%;
   position: fixed;
   background-image: linear-gradient(
        to right, 
        orchid, 
        tomato) ;
        
    background-position:  center;
    background-size:   cover;
    z-index: -50;
}

.bottom{
   height: 60vh;
   width: 100%;
   margin-top: 40vh;
   position: fixed;
   background: var(--color-dark-blue);
   z-index: -50;
}

.tasks {
   max-width: 50rem;
   min-width: 40rem;
   padding: 2.5rem;
   margin: 3rem auto;
   background-color: var(--color-desaturated-blue);
   color: var(--color-grayish-blue);
   border-radius: 5px;
   top: 30%;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
}

.form {
   max-width: 50rem;
   min-width: 40rem;
   padding: 2.5rem;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
   position: fixed;
   background-color: var(--color-desaturated-blue);
   color: var(--color-grayish-blue);
   border-radius: 5px;
}

form{
   display: flex;
   justify-content: space-between;
}

input,
input:visited {
   width: 60%;
   font-family: inherit;
   font-size: 2rem;
   font-weight: inherit;
   border: none;
   outline: none;
   padding: 1rem;
   background: var(--color-desaturated-blue);
   color: var(--color-grayish-blue);
   border-bottom: 1px solid transparent;
}

input:focus:invalid{
   border-bottom: 1px solid #ff2400;
}
input:focus{
   border-bottom: 1px solid var(--color-grayish-blue);
}

.add-btn,
.add-btn:focus,
.add-btn:visited {
   border: none;
   padding: 1.5rem 3rem;
   border-radius: 5px;
   cursor: pointer;
   color: var(--color-grayish-blue);
   background: var(--color-desaturated-blue);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
   transition: all .2s;
   font-family: inherit;
   font-weight: inherit;
}

.add-btn:hover {
   transform: translateY(-1px);
}

.add-btn:active{
   transform: translateY(0);
   box-shadow: 0 .8rem 2rem rgba(0, 0, 0, 0.2);
}

.all-task {
   position: fixed;
   margin-bottom: 3rem;
   color: #fff;
   font-weight: 700;
   font-size: 5rem;
   letter-spacing: 1.5rem;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
}

.completed {
   text-decoration: line-through;
   color: var(--color-dark-g-blue);
}

.delete-icon {
   height: 2rem;
   color: red;
}

ul {
  list-style: disc;
}

ul li {
   display: block;
   display: flex;
   justify-content: space-between;
   height: 3rem;
   cursor: pointer;
   transition: all .2s;
}


ul li:not(:last-child) {
   margin-bottom: 2rem;
   border-bottom: 1px solid var(--color-dark-g-blue);
}

ul li:not(:last-child):hover{
   border-bottom: 1px solid var(--color-dark-blue);
}
ul li:last-child{
  padding-top: 1.5rem;
  font-size: 1.4rem;
  cursor: inherit;
}

.details-btn {
  cursor: pointer;
}

.details-num {
  color: #ff2400;
}

ul li::marker {
   color: #ff2400;
}

footer {
   position: absolute;
   bottom: 2.5rem;
   right: 2.5rem;
   color: orchid;
}
footer a {
   display: inline-block;
   text-decoration: none;
   color: var(--color-grayish-blue);
   padding: .5rem .8rem;
   transition: all .2s;
}

footer a:hover{
   background-color: var(--color-desaturated-blue);
   transform: scale(1.1) rotate(5deg);
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
}